{% extends "layout.html" %}

{% block body %}


    <h1>Log In to Your Habit Tracker</h1>

    <form action="/login" method="POST">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" placeholder="john.doe@example.com" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" placeholder="Your Password" required><br><br>

        <input type="submit" value="Log In">
    </form>

    <hr> <p>
        <a href="/forgot-password">Forgot Password?</a>
    </p>
    <p>
        Don't have an account? <a href="/signup">Sign Up here.</a>
    </p>

{% endblock %}